{% extends 'base.html' %}
{% block title %}
    Password reset confirmation
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container w-50 pt-5">
        <div class="card">
            <div class="card-body">
                <form method="post" novalidate>
                    {% csrf_token %}

                    {{ form|crispy }}
                    <input type="submit" value="Send Confirmation Link" class="btn btn-primary">
                </form>

            </div>
        </div>

    </div>


{% endblock %}