{% extends 'base.html' %}
{% block title %}
    Password reset
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container w-50 pt-5">
        <div class="card">
            <div class="card-body">
                {% if validlink %}
                    <form method="post" novalidate>
                        {% csrf_token %}

                        {{ form|crispy }}
                        <input type="submit" value="Save" class="btn btn-primary">
                    </form>
                {% else %}
                    <p>Invalid token</p>
                    <a href="{% url 'password_reset' %}">request a new password reset token</a>
                {% endif %}
            </div>

        </div>
    </div>

{% endblock %}